body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Light mode styles */
body.light-mode {
  background-color: white;
  color: black;
}

/* Dark mode styles */
body.dark-mode {
  background-color: black;
  color: white;
}